<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{2} - %msg%n"/>
        </Console>
s
    </Appenders>
    <Loggers>

        <Root level="INFO">
            <appender-ref ref="LogToConsole"/>
        </Root>

    </Loggers>
</Configuration>